{% extends "base_generic.html" %}

{% block content %}
  <h1> Home</h1>
  <p>Welcome to Right Plans!</p>
  <h2>Dynamic content</h2>
  <p>The plans system has the following record counts:</p>
  <ul>
    <li><strong>Plans total:</strong> {{ num_plans }}</li>
    <li><strong>Approved plans:</strong> {{ num_approved_plans }}</li>
    <li><strong>Authors:</strong> {{ num_architects }}</li>
    <li><strong>Contractors:</strong> {{ num_contractors }}</li>
    <li><strong>Consumers:</strong> {{ num_consumers }}</li>
  </ul>
{% endblock %}